.LinkContainer {
    margin-top:25px;
    width:100%;
    height:100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
   }
   
.LinkContainer div { 
	margin-right: 15px;
    margin-left: 15px;
    margin-bottom:30px;
    text-align: center;
    width: 210px;
}
