.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-container a {
	text-decoration: none;
}
.flex-container div {
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
	width: 5.8em;
	height : 5em;
	margin: 5px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
}


.flex-container div p{
  margin-top: 8px;
}

.flex-container div:hover {
	background-color: #16683f; 
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.6);
	transition: scale 100ms ease;
}
.flex-container div:hover p {
   color: white  !important;
   text-decoration: none;
}

.flex-container a : hover {
	text-decoration: none;
}

.flex-container a : hover p{
	text-decoration: none;
}

.page-navigation-pad
{
	margin-top: 20px;
}

.clear { clear: both; }


