.mainBody
{

	clear: both;
}

.titleKab
{
	float: left;
	font-size:150%;
	#overflow: auto;
	#display: inline-block;
}

.editButton
{
	float: right;
	#overflow: auto;
	display: inline-block;
	#white-space: nowrap;
}

.mGrid div 
{ 
	width: 5.8em;
	height : 5em;
	float: left;
	background: #16683f;
	border-radius: 4px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
	margin: 5px;
}

.mGrid div:hover { background-color: #000000; }

.mGrid { margin-top:30px; } 

.warning p { color: #ffffff; }

.warning li { color: #ffffff; }

.warning
{
    padding: 10px;
	background: #16683f;
	border-radius: 4px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
	margin: 5px;
}

.foot
{
 	display:block;
	text-align: center;
}

.year:hover { 
    color: #16683f;
    text-decoration: none;
}

.pad:hover { 
    color: #16683f;
    text-decoration: none;
}
.year
{

	padding-left: 8px;
	padding-right: 8px;
    color: #000000;
}

.pad
{
	color: #000000;
	padding-left: 12px;
	padding-right: 12px;
}

.currentYear
{
	box-shadow: inset 0 0 0 1px #16683f;
	border-radius: 20px;
	padding-top: 5px;
	color: #16683f;
	padding-bottom: 5px;
}

.intro
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display:inline-block;
	background: #ffffff;
	border-radius: 20px;
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

div.foot { clear: both; }

p.el2
{
	text-align: center;
	vertical-align:middle;
	margin-top: 25px;
	col
}

.el2
{
 color: #ffffff; 
}
