div.news-list h2
{
margin:0 0 4px 0!important;
}
.news-date-time {
	color:#486DAA;
}
.image-holder {
width:136px;
vertical-align:top;
}
.text-holder {
vertical-align:top;

}


.flex-box{
  justify-content: stretch;
}

.box{
  text-align: center;
}

.flex-box,
.flex-subbox {
  display: flex;
}

.top-pad
{
	margin-top: 10px;
}

.first-block
{
	width: 15%;
	min-width: 120px;
}

.second-block
{
	width: 85%;
}

.white-box
{
   margin-top: 20px;
}
.flex-subbox {
  padding: 5px;
  flex-direction: column;
}

@media (max-width: 768px) {
  .flex-box {
    flex-direction: column;
    align-items: center;
  }
}
